.side_bar
    .side_bar__side-header
        .side_bar__side-header__box
            %h3.side_bar__side-header__box__user-name
                = current_user.name
            %ul.side_bar__side-header__box__box-menu
                %li.side_bar__side-header__box__box-menu__new-group
<<<<<<< Updated upstream
                    = link_to do
                        = icon('fas', 'pen-square', class: 'icon')
=======
                    -# = link_to new_group_path() do, class: "a"  doの後ろに何も書いてはダメ
                    = link_to new_group_path(), class: "a" do
                        = icon('far', 'edit')

>>>>>>> Stashed changes
                %li.side_bar__side-header__box__box-menu__edit-user
                    = link_to edit_user_path(current_user) do
                        = icon('fas', 'cog', class: 'icon')
    .side_bar__groups
<<<<<<< Updated upstream
        .side_bar__groups__group
            %p.side_bar__groups__group__group-name
                a
            %p.side_bar__groups__group__latest-message
                まだメッセージはありません
=======
        - current_user.groups.each do |group|
            .side_bar__groups__group
                = link_to group_messages_path(group), class: "message-link" do
                    .side_bar__groups__group__name
                        = group.name
                    .side_bar__groups__group__message
                        = group.show_last_message
>>>>>>> Stashed changes
