-# サイドバーのHAML
.chat-side
  .chat-side__header
    .user
      = current_user.name
      %ul.user__menu
        %li.list
          = link_to new_group_path, data: {"turbolinks" => false} do
            = fa_icon 'pencil-square-o', class: 'icon'
        %li.list
          = link_to edit_user_path(current_user) do
            = fa_icon 'cog', class: 'icon'
  .chat-side__groups
    - current_user.groups.each do |group|
      .groups__boxes
        = link_to group_messages_path(group), class: "a" do
          .group-name
            = group.name
          .new-message
            = group.show_last_message